
.history {

  $large-screen: em(860) !default;
  padding: 3em 0 3em;
  
  h3 {
    text-transform: uppercase;
  }
  .lead {
    font-size: 1.25em;
      opacity: .7;
      padding: .8em 0 0 0;
  }
  .row {
    @include clearfix;
    .split-left, .split-right {
      @include susy-media($large-screen) {
        @include span (6 of 12);
      }
    }
    .split-right {
      @include last;
    }
  }
  ul {
    margin-bottom: 1em;
  }
  li {
    font-size: small;
  }
  
  .expander {  
    $base-font-size: 1em !default;
    $base-line-height: 1.5em !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $base-link-color: $action-color !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $base-font-color: $dark-gray !default;
    $expander-arrow-width: 1em;
    $expander-toggle-size: 1.2em;
    $expander-toggle-arrow-size: $expander-toggle-size;
    $expander-toggle-margin: 1em;

    .expander-trigger {
      @include user-select(none);
      border-bottom: 1px solid $light-gray;
      color: $base-link-color;
      cursor: pointer;
      display: block;
      font-size: $expander-toggle-size;
      margin: $expander-toggle-size 0;
      padding-bottom: $expander-toggle-size / 4;
      text-decoration: none;

      &:before {
        font-size: $expander-arrow-width;
        content: "\25BC";
        margin-right: 0.5em;
      }
    }

    .expander-content p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .expander-hidden {
      &:before {
        font-size: $expander-arrow-width;
        content: "\25BA";
      }
    }

    .expander-hidden + .expander-content {
      display: none;
    }
  }  
}