/// FEATURES

.features {
  
  margin-top: -290px;
  padding: 0 0;
  
  .title h2 {
    color: white;
    font-size: 2.6rem;
    text-shadow: rgba(0,0,0,0.9) 1px 1px 7px;
  }

  .feature-item {
    text-align: center;
    padding: 2em 0 2em;
  	@include susy-media(60em) {
  		@include gallery(6 of 12);
  	}
  	@include susy-media(90em) {
  		@include gallery(4 of 12);
  	}
    h4 {
      text-transform: uppercase;
      font-weight: 400;
    }
    p {
      font-size: small;
    }
  }

  .feature-item {
    i {
   	font-size: 4em;
   	color: #bbb;
   	margin-bottom: .3em;
   	transition: color .2s; 
    width: 120px;
    height: 120px;
    background: #ddd;
    border: 4px solid white;
    border-radius: 50%;
    line-height: 120px
   }
   &:hover i {
  	 color: $accent-color;
     border-color: $accent-color;
   };
  }
}