@import "modules/normalize";

@import "bourbon";
@import "susy";
@import "base/base";

@import "global";
@import "modules/owl-carousel";
@import "modules/owl-theme";

@import "modules/page-intro";
@import "modules/page-features";
@import "modules/page-footer";

@import "modules/page-quotes";
@import "modules/page-rent";
@import "modules/page-history";
@import "modules/page-shops";
@import "modules/page-ads";
@import "modules/page-gallery";
@import "modules/sliding-panel";

$gutters: (1/4);
$susy: (
    columns: 12,
    gutters: $gutters,
    math: fluid,
    output: float,
    gutter-position: inside,
);

// owl stuff

//@import "styles"



