!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %title Деловой Центр «Пушкинский», Хабаровск, ул. Пушкина, 54
    %link{href: "assets/stylesheets/application.css", rel: "stylesheet", type: "text/css"}
    %link{href: "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}
    %link{href:"http://fonts.googleapis.com/css?family=Philosopher:400,400italic&subset=latin,cyrillic",rel:"stylesheet",type: "text/css"}
    %link{href:"http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic",rel:"stylesheet",type: "text/css"}
    

  %body
    -# Intro section

    %section{class: "intro", id: "section-intro"}
      -# .image-bg{:data => {stellar_background_ratio: "0.4"}}
      .image-bg{}
      .color-overlay
      .container
        .logo
          %h1
            %img{src: "assets/images/logo-big.png", alt: "Деловой центр Пушкинский, Хабарвоск"}
        .slogan
          %h2
            -# Всегда в центре событий
        .phone
          %h2
            %i.fa.fa-phone-square
            +7 /4212/ 30-69-87
      -# %a{href: "#section-features", class: "jump-down"}
        -# %i.fa.fa-chevron-down
    -# %section{class: "news", id: "section-news"}
      -# .image-bg{:data => {stellar_background_ratio: "0.4"}}
    %section{class: "features", id: "section-features"}
      .container
        .title
          %h2 Всегда в центре событий
          -# %p Почему вам стоит рассмотреть наши предложения? Вот несколько хороших доводов.
        .row.news
          %img{src: "assets/images/8-mar.jpg", alt: "Поздравляем с Международным женским днем 8 марта!"}
        .feature-items
          .feature-item
            %i.fa.fa-car
            %h4 Парковка
            %p Места для арендаторов во дворе, городская парковка на площади
          .feature-item
            %i.fa.fa-map-marker
            %h4 Расположение
            %p Деловой центр расположен на центральной площади города
          .feature-item
            %i.fa.fa-bell
            %h4 Безопасность
            %p Круглосуточная охрана, пожарная и охранная сигнализация, круглосуточное видеонабюлдение
          .feature-item
            %i.fa.fa-leaf
            %h4 Микроклимат
            %p Центральная система кондиционирования, позволяющая создавать индивидуальный микроклимат в каждом помещении
          .feature-item
            %i.fa.fa-link
            %h4 Коммуникации
            %p Доступны телефонные линии и подключение к сети Интернет
          .feature-item
            %i.fa.fa-cutlery
            %h4 Инфраструктура
            %p Богатая инфраструктура — банк, кафе, магазины, салоны красоты
    -# QUOTES

    %section{class: "quote", id: "section-quote"}
      -# .image-bg{:data => {stellar_background_ratio: "0.5"}}
      .image-bg{}
      .color-overlay
      .container
        .owl-carousel.owl-theme#quote-slider
          .item
            %blockquote Комфортные офисы для успешного бизнеса.
            -# %cite Благородный дон
          .item
            %blockquote Отличное расположение в самом центре города.
            -# %cite Благородный дон
    %section{class: "rent", id: "section-rent"}
      .container
        .title
          %h2 Аренда
          %h3 Актуальные предложения — сободные помещения в ДЦ «Пушкинский».
        .row
          .split-left.split-text
            %h3 Просторный зал для ресторана, клуба, проведения конференций, торжеств
            %p.lead Сдается помещение площадью 300 м² на первом этаже, вход с площади Ленина.
            %p Высота потолков 6 м, помещение светлое (два ряда окон). Есть выход на летнюю веранду и в уютный внутренний дворик.
          .split-right.split-media
            %img{src: "assets/images/rent-one.jpg", alt: "Аренда помещения на Пушкина, 54, Хабаровск"}

        .row
          .split-right.split-text
            %h3 Помещение с отдельным входом
            %p.lead Сдается помещение площадью 220 м² на первом этаже, отдельный вход с площади Ленина.
            %p Возможно использование под кафе, ресторан, ночной клуб, бильярдную и т.п.
          .split-left.split-media
            %img{src: "assets/images/rent-two.jpg", alt: "Аренда офиса на Пушкина, 54, Хабаровск"}
        .row
          .split-left.split-text
            %h3 Свободные офисы
            %p.lead Сдаем в аренду офисы на различных этажах ДЦ Пушкинский.
            %ul
              %li 1 этаж — помещение под офис площадью 13 м².
              %li 4–5 этажи — помещения под офисы 24, 38, 40, 53 м².
          .split-right.split-media
            -#%img{src: "assets/images/rent-three.jpg", alt: "Аренда помещения на Пушкина, 54, Хабаровск"}
            .owl-carousel.owl-theme#rent3-slider
              .item
                %img{:src => "assets/images/rent-three.jpg", :alt => ""}
              .item
                %img{:src => "assets/images/r3-2.jpg", :alt => ""}
              .item
                %img{:src => "assets/images/r3-3.jpg", :alt => ""}

    %section{class: "ads", id: "section-ads"}
      -# .image-bg{}
      .color-overlay
      .container
        .row
          .split-left.split-text
            %h2 Отправить запрос
            %p.lead Выяснить детали, узнать цены и условия вы можете по телефону +7 (4212) 30-69-87.
            %p
              Также вы можете заполнить форму или написать на 
              %a{:href => "mailto:arenda@emporium.ru"} arenda@emporium.ru
              и мы ответим вам по электронной почте.
          .split-right
            %form{:action => "//formspree.io/arenda@emporium.ru", :method => "POST"}
              %label{:for => "name"} Как вас зовут?
              %input.form-control{:name => "name", :required => "", :type => "text"}
              %label{:for => "name"} Телефон
              %input.form-control{:name => "name", :type => "text"}
              %label{:for => "_replyto"} E-mail
              %input.form-control{:name => "_replyto", :type => "email"}
              %label{:for => "text"} Ваше сообщение
              %textarea.form-control{:name => "text", :rows => "2"}
              %input{:name => "_next", :type => "hidden", :value => "//pushkina54.ru/thanks.html"}
              %input.form-control{:name => "_subject", :type => "hidden", :value => "Письмо с сайта pushkina54.ru"}
              %input.btn.btn-lg{:type => "submit", :value => "Отправить сообщение"}

    -# %section{class: "shops", id: "section-shops"}
      .color-overlay
      .image-bg{}
      .container
        .title
          %h2 Расположено в Пушкинском
          %p Некторые предприятия, расположенные в нашем деловом центре
        .shops-list.modal
          %label{for: "shops-modal"}
            .modal-trigger Покупки
          %input{type: "checkbox", class: "modal-state", id: "shops-modal"}
          .modal-fade-screen
            .modal-inner
              .modal-header
                .modal-close{for: "shops-modal"}
                %h3 Магазины
              .modal-body
                .row
                  %h4.stage-title Одежда для женщин
                  .stage
                    %h4 1 этаж
                    %ul
                      %li Mango
                      %li Бутик Каро (вход с ул. Дзержинского)
        .services-list.modal
          %label{for: "services-modal"}
            .modal-trigger Услуги
          %input{type: "checkbox", class: "modal-state", id: "services-modal"}
          .modal-fade-screen
            .modal-inner
              .modal-header
                .modal-close{for: "services-modal"}
                %h3 Услуги
              .modal-body
                .row
                  .stage
                    %h4 1 этаж
                    %ul
                      %li Театральная касса
        .food-list.modal
          %label{for: "food-modal"}
            .modal-trigger Еда
          %input{type: "checkbox", class: "modal-state", id: "food-modal"}
          .modal-fade-screen
            .modal-inner
              .modal-header
                .modal-close{for: "food-modal"}
                %h3 Кафе и рестораны
              .modal-body
                .row
                  %h4 Цоколь
                  %ul
                    %li Гранд-кафе Gallery
                    %li Кафе «Чашка чая»
           
    %section{class: "history", id: "section-history"}
      .container
        .row
          .split-left.split-text
            %h3 Историческая справка
            %p.lead Бизнес Центр расположен в старинном здании, которое было построено в самом начале прошлого века.
            
            %p Строилось это здание как Реальное училище - среднее учебное заведение в котором существенная роль отводится предметам естественной и математической направленности.
          .split-right.split-media
            %img{src: "assets/images/1900-1903.jpg", alt: "Хабаровское реальное училище, 1900-1903"}
        .row
          .expander
            %h3.expander-trigger.expander-hidden#js-expander-trigger Развернуть
            .expander-content#js-expander-content
              %p Реальное училище было в Хабаровске единственное среднее учебное заведение. В него принимались только дети привилегированных родителей. Закладка собственного большого здания училища состоялась 29 июня 1901 года. В августе 1902 года строительство училища было закончено, и в сентябре здесь начались занятия.
              
              %p Здание училища возводили китайские каменщики (быстро, грамотно, на века). В центральной части здания, правда со стороны двора, располагалась Свято-Никольская церковь - она просуществовала до 1922 года и была воссоздана только в 2003 г. 
              
              %p В 1920 году во время японской интервенции против России, здание было занято японскими войсками под штаб. С 1921 года там располагался  народный политехникум, затем педагогический техникум, а потом техникум народов севера. С 1930 года в этом здании стал располагаться  Дальневосточный Коммунистический Университет, а с 1932 года – Высшая Коммунистическая Сельскохозяйственная школа.
              
              %p В 1937 здесь работала годичная школа пропагандистов. В том же году здание было переоборудовали под госпиталь, а в 1938 году его передали мединституту и разместили там рабфак. В годы войны в этом помещении находились госпитали: №1202 и №1204, с января 1946 года – госпиталь для инвалидов, который просуществовал до 1952 года. С этого времени в здании располагалась 3-я городская больница. (Памятник федерального значения). В 1937 - 1938 г был надстроен последний этаж.

    %section{class: "gallery", id: "section-gallery"}
      .container
        .owl-carousel.owl-theme#gallery-slider
          .item
            %img{:src => "assets/images/slide1.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide2.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide3.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide4.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide5.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide6.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide7.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide8.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide9.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide10.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide11.jpg", :alt => ""}
          .item
            %img{:src => "assets/images/slide12.jpg", :alt => ""}

    %footer.footer#contacts{:role => "contentinfo"}
      .footer-logo
      .footer-links
        %ul
          %li
            %h3 Адрес
          %li Хабаровск
          %li ул. Пушкина, 54    
        %ul
          %li
            %h3 Контакты
          %li +7 (4212) 45-55-52 — отдел аренды
          %li +7 (4212) 20-67-19 — администратор
          %li +7 (4212) 32-45-63 — факс
          %li.mailto
            %a{:href => "mailto:arenda@emporium.ru"} arenda@emporium.ru
        %ul
          %li
            %h3 Режим работы
          %li Понедельник–Суббота: с 8 до 20
          %li Воскресенье: с 9 до 19
          %li Без перерыва
      %hr/
      %p &copy; 2015 OOO «Бизнес-Центр».
    %a.js-menu-trigger.sliding-panel-button
      %img{:alt => "Menu Icon", :src => "assets/images/menu-white.png"}/
    %nav.js-menu.sliding-panel-content
      %ul
        %li
          %a{:href => "#section-features"} О центре
        %li
          %a{:href => "#section-rent"} Аренда
        %li
          %a{:href => "#section-ads"} Реклама
        %li
          %a{:href => "#section-history"} История
        %li
          %a{:href => "#section-history"} Галерея
        %li
          %a{:href => "#contacts"} Контакты
    .js-menu-screen.sliding-panel-fade-screen

    %script{src: "https://code.jquery.com/jquery-2.1.1.min.js", type: "text/javascript"}
    %script{src: "assets/javascripts/scripts.min.js", type: "text/javascript"}
    %script{src: "assets/javascripts/application.js", type: "text/javascript"}