!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %title Деловой Центр «Пушкинский», Хабаровск, ул. Пушкина, 54
    %link{href: "assets/stylesheets/application.css", rel: "stylesheet", type: "text/css"}
    %link{href: "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}
    %link{href:"http://fonts.googleapis.com/css?family=Philosopher:400,400italic&subset=latin,cyrillic",rel:"stylesheet",type: "text/css"}
    %link{href:"http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic",rel:"stylesheet",type: "text/css"}
    

    %body
    -# Intro section

    %section{class: "intro", id: "section-intro"}
      -# .image-bg{:data => {stellar_background_ratio: "0.4"}}
      .image-bg{}
      .color-overlay
      .container
        .logo
          %h1
            %img{src: "assets/images/logo-big.png", alt: "Деловой центр Пушкинский, Хабарвоск"}
        .slogan
          %h2
            -# Всегда в центре событий
        .phone
          %h2
            %i.fa.fa-phone-square
            +7 /4212/ 47-85-32
      -# %a{href: "#section-features", class: "jump-down"}
        -# %i.fa.fa-chevron-down

    %section{class: "features", id: "section-features"}
      .container
        .title
          %h2 Всегда в центре событий
          -# %p Почему вам стоит рассмотреть наши предложения? Вот несколько хороших доводов.
        .feature-items
          .feature-item
            %i.fa.fa-map-marker
            %h4 Расположение
            %p Деловой центр расположен на центральной площади города
          .feature-item
            %i.fa.fa-eye
            %h4 Окружение
            %p Из вашего окна будет видна центральная площадь, либо парковая зона страдиона Динамо
          .feature-item
            %i.fa.fa-car
            %h4 Парковка
            %p Платные места для арендаторов во дворе, городская парковка на площади
          .feature-item
            %i.fa.fa-thumbs-up
            %h4 Цены
            %p Индивидуальный подход, гибкие тарифы, специальные предложения
          .feature-item
            %i.fa.fa-users
            %h4 Соседи
            %p В здании расположены офисы крупнейших компаний региона
          .feature-item
            %i.fa.fa-cutlery
            %h4 Еда
            %p В бизнес-центре и окрестностях можно найти кафе на любой вкус и кошелек
    -# QUOTES

    %section{class: "quote", id: "section-quote"}
      -# .image-bg{:data => {stellar_background_ratio: "0.5"}}
      .image-bg{}
      .color-overlay
      .container
        .owl-carousel.owl-theme#quote-slider
          .item
            %blockquote Комфортные офисы для успешного бизнеса.
            -# %cite Благородный дон
          .item
            %blockquote Отличное расположение в самом центре города.
            -# %cite Благородный дон
    %section{class: "rent", id: "section-rent"}
      .container
        .title
          %h2 Аренда
          %h3 Актуальные преложения — сободные помещения в ДЦ «Пушкинский».
        .row
          .split-left.split-text
            %h3 Помещение для кафе, ресторана, клуба или офиса open space
            %p.lead Сдается помещение площадью 222 м² на первом этаже, вход с площади Ленина.
            %p Помещение оснащено телефоном, интернетом, находится под круглосуточной охраной.
            %p Для автомобилей сотрудников имеется парковка.
          .split-right.split-media
            %img{src: "assets/images/rent-one.jpg", alt: "Аренда помещения на Пушкина, 54, Хабаровск"}

        .row
          .split-right.split-text
            %h3 Офисное помещение с отдельным входом
            %p.lead Сдается помещение площадью 122 м² на первом этаже, отдельный вход с площади Ленина.
            %p Помещение оснащено телефоном, интернетом, находится под круглосуточной охраной.
            %p Для автомобилей сотрудников имеется парковка.
          .split-left.split-media
            %img{src: "assets/images/rent-two.jpg", alt: "Аренда офиса на Пушкина, 54, Хабаровск"}
        .row
          .split-left.split-text
            %h3 Офисы на 5-7 этажах делового центра
            %p.lead Сдается помещение площадью 222 м² на первом этаже, вход с площади Ленина.
            %p Помещение оснащено телефоном, интернетом, находится под круглосуточной охраной.
            %p Для автомобилей сотрудников имеется парковка.
          .split-right.split-media
            %img{src: "assets/images/rent-three.jpg", alt: "Аренда помещения на Пушкина, 54, Хабаровск"}
            
    -# %section{class: "history", id: "section-history"}
      .container
        .row
          .split-left.split-text
            %h3 История Центрального универмага
            %p.lead Центральный универмаг – один из наиболее успешных и динамично развивающихся торговых центров Хабаровска, его историческая и архитектурная достопримечательность.
            %p Отправной точкой для отсчета  истории ЦУМа стоит считать 1914 год. Именно в этом году был построен доходный дом купца 2-й гильдии Александра Архипова, в здании которого сегодня и располагается старейшее торговое предприятие столицы Дальнего Востока.
          .split-right.split-media
            %img{src: "assets/images/history-1920.jpg", alt: "Здание ЦУМа в 1920"}
        .row
          .expander
            %h3.expander-trigger.expander-hidden#js-expander-trigger Развернуть
            .expander-content#js-expander-content
              %p В доходном доме купца Архипова находились магазин, гостиница и съемные квартиры. Существует легенда, что с просьбой спроектировать дом крупный лесопромышленник обратился к известному архитектору А. К. Левтееву. Так это или нет — достоверно не установлено. Зато известны изначальные чертежи доходного дома с великолепным фасадом в псевдобаррочном стиле, который венчал стеклянный фонарь. Доходный дом Архипова был призван не только реализовать коммерческую идею его собственника, но и украсить улицы города.
              
              %p Однако в первозданном виде доходный дом простоял недолго. История тех лет характеризуется как беспокойная, нарастают конформистские настроения враждебных стран. И в ночь с 4 на 5 апреля 1920 года здание Доходного дома Архиповых подверглось массированному артиллерийскому обстрелу японской авиации. Будущему памятнику истории был нанесен серьезный урон. Однако восстановление было произведено в кратчайшие сроки.
              
              %p В дальнейшем, в связи с укреплением советской власти и развитием инфраструктуры быстроразвивающегося города возникла необходимость в модернизации здания. Так как в сталинское довоенное время в архитектуре господствовал имперский стиль, не терпевший «украшательств».
              
              %p Поэтому в начале 30-х годов ХХ века весь наружный декор с фасада доходного дома убрали, вместо фонаря надстроили еще один этаж. В преображенном здании в апреле 1934 года открылся Центральный универмаг, ставший одним из лучших предприятий советской торговли в Хабаровске. Даже во времена повального дефицита здесь можно было найти разнообразный ассортимент модной одежды, хорошей обуви, детских игрушек.
              
              %p Старожилы помнят уютное кафе «Чашка чая», где продавались свежайшие пирожные, ароматный индийский и китайский чай. В советские годы это был крупнейший центр торговли.
              
              %p Именно с момента открытия ЦУМ стал архитектурной достопримечательностью Хабаровска, его историческим памятником, так как все события, свидетелем которых стало это здание, несомненно, удостаивают его такой чести. Его первозданный вид, архитектура – историческое наследие не только города, но и страны.

    %footer.footer#contacts{:role => "contentinfo"}
      .footer-logo
      .footer-links
        %ul
          %li
            %h3 Адрес
          %li Хабаровск
          %li ул. Пушкина, 54    
        %ul
          %li
            %h3 Контакты
          %li +7 (4212) 47-85-32
          %li +7 (4212) 47-85-42 — факс
          %li.mailto
            %a{:href => "mailto:bizc2013@mail.ru"} bizc2013@mail.ru
        %ul
          %li
            %h3 Режим работы
          %li Понедельник–Суббота: с 10 до 20
          %li Воскресенье: с 10 до 19
          %li Без перерыва
      %hr/
      %p &copy; 2015 OOO «Бизнес-Центр».
    %a.js-menu-trigger.sliding-panel-button
      %img{:alt => "Menu Icon", :src => " assets/images/menu-white.png"}/
    %nav.js-menu.sliding-panel-content
      %ul
        %li
          %a{:href => "#section-features"} О центре
        %li
          %a{:href => "#section-rent"} Аренда
        -# %li
          %a{:href => "#section-пфддукн"} Галерея
        %li
          %a{:href => "#contacts"} Контакты
    .js-menu-screen.sliding-panel-fade-screen

    %script{src: "https://code.jquery.com/jquery-2.1.1.min.js", type: "text/javascript"}
    %script{src: "assets/javascripts/scripts.min.js", type: "text/javascript"}
    %script{src: "assets/javascripts/application.js", type: "text/javascript"}